
a {
  color: #1890ff;
  text-decoration: none;
}
.markdown-html {
  width: 100%;
  font-size: 14px;
  word-break: break-all;
}

.markdown-html img {
  max-width: 100%;
  cursor: pointer;
}

.markdown-html h1,
.markdown-html h2,
.markdown-html h3,
.markdown-html h4,
.markdown-html h5,
.markdown-html h6 {
  font-weight: bold;
}

.markdown-html p {
  line-height: inherit;
  margin-top: 22px;
  margin-bottom: 22px;
  line-height: 175%;
  font-size: 16px;
}

.markdown-html > p {
  color: #333;
}

.markdown-html code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.markdown-html p > code,
.markdown-html ul li > code {
  display: inline-block;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px 3px;
  background-color: #fff5f5;
  color: #ff502c;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
}

.markdown-html pre {
  margin: 1em 0;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  overflow-y: auto;
  font-weight: 300;
  background-color: #283646;
}

.markdown-html pre > code {
  color: #ccc;
  line-height: 150%;
}

.markdown-html blockquote {
  color: #666;
  padding: 1px 23px;
  margin: 1em 0;
  border-left: 4px solid #cbcbcb;
  background-color: #f8f8f8;
}

.markdown-html blockquote > p {
  margin: 10px 0;
}

.markdown-html h1 {
  font-size: 30px;
  margin-bottom: 5px;
}

.markdown-html h2 {
  padding-bottom: 12px;
  font-size: 24px;
  border-bottom: 1px solid #ececec;
  font-weight: bold;
}

.markdown-html h3 {
  font-size: 18px;
  padding-bottom: 0;
}

.markdown-html h1,
.markdown-html h2,
.markdown-html h3,
.markdown-html h4,
.markdown-html h5,
.markdown-html h6 {
  color: #333;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 10px;
}

.markdown-html table {
  font-size: 14px;
  width: 100%;
  overflow: auto;
  border: 1px solid #DDDDDD;
  border-collapse: collapse;
  border-spacing: 0;
}

.markdown-html thead {
  background: #F2F2F2;
  color: #333333;
  line-height: 36px;
  text-align: center;
}

.markdown-html td,
.markdown-html th {
  padding: 0.8em 0.5em;
  line-height: 1.5em;
  color: #333333;
  border: 1px solid #DDDDDD;
}

.markdown-html td {
  flex: 1;
}

// .markdown-html tr {
//   background: #F2F2F2;
// }

// .markdown-html tr:nth-child(2n) {
//   background-color: #fcfcfc;
// }

.markdown-html ol,
.markdown-html ul {
  padding-left: 24px;
}

.markdown-html > ol,
.markdown-html > ul {
  margin: 20px 0;
}

.markdown-html ol ol,
.markdown-html ul ul {
  margin-top: 12px;
}

.markdown-html ol li,
.markdown-html ul li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
  line-height: 1.75;
}

.markdown-html blockquote ul,
.markdown-html blockquote ul {
  margin: 1em 0;
}

.markdown-html blockquote ul li,
.markdown-html blockquote ul li {
  line-height: 1.5;
}

.markdown-html ol li a,
.markdown-html ul li a {
  font-size: 16px;
  color: #1890ff;
  text-decoration: none;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
  color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}